.git
.github
.venv
venv
ENV

__pycache__
*.py[cod]
*$py.class

.pytest_cache
pytest-cache-files-*
.coverage
htmlcov

.mypy_cache
.ruff_cache
.pytype

build
dist
*.egg-info

.env
.gitignore
.dockerignore

.vscode
.idea
.DS_Store
Thumbs.db
